<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Product Details</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="static/css/style.css" type="text/css">

  <link rel="stylesheet" href="static/css/description.css">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<style>
  a{
    color: black;
  }
  a:hover{
    color:white;
  }
</style>
  <!-- =======================================================
  * Template Name: Yummy - v1.0.0
  * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="static/img/logo.png" alt=""> -->
        <h1>GroMart<span></span></h1>
      </a>

      
        <div class="dropdown">
          <button style="background-color: black" class="btn btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-funnel-fill" style="color: limegreen;"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/health">Healthy Purchase</a></li>
            <li><a class="dropdown-item" href="#">Personal Preference</a></li>
            <li></li>
        </div>
      </i>
      <a href="/cart">Cart</a>
      <a href="/product">Offers</a>
      <a href="/index">Logout</a>
      <a class="btn-book-a-table" href="/grostar">Grostars : </a>
     
      
      
    </div>
  </header>
  <body style="padding-top:130px ;">
  
    <div class="container" style="padding:30px; width:70%; background-color: rgb(249, 247, 247);">
      <div class="row">
        <div class="col-md-5">
          <img src="static/img/oats.jpg" style= height:300px;">
        </div>
        <div class="col-md-7">
          <h3>Product Name</h2>
          <h4>Price</h3>
          <h4>Brand</h3>
          <h5>Fat Content</h4>
          <button type="button" class="add_to_cart" style="padding-top: 5px;">Add to Cart</button>
          <i class="bi bi-cart4"></i>
        </div>

      </div>
    </div>

    
    <div class="container">
      <div class="row">
        
          {% for i in range(Product|length) %}
                  <div class="col-md-3" style="margin-top:50px; color: black;">
                      <div class="card">
                        
                          <div class="card-body">
                              <img class="card-img-top" style="height: 100px; width:100px" src="{{ image[i] }}">
                              <p class="text-black">{{ Product[i] }}</p>
                              <p class="text-black">{{ price[i] }}</p>
                             
                              
                              <button type="button" class="add_to_cart" >Add to Cart</button>
                              <i class="bi bi-cart4"></i>
                          </div>
                      </div>
                  </div>
              {% endfor %}
      
      
          </div>
      </div>
      </div>
    </div>

  </body>