<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>website1</title>
    <link rel="stylesheet"href="static/css/profile.css">
</head>
<body>
    <nav>
        <label class="logo">GroMart</label>
        <ul>
            <li><a class="active" href="/product" style="color:black">Home</a></li></ul>
    </nav>
    <div class="container">
        <div class="title">GoGreen</div>
        <div class="content">
          <form action="#">
            <div class="user-details">
              <div class="input-box">
                <span class="details">Purchase ID</span>
                <input type="text" placeholder="Enter your Purchase ID" required>
              </div>
              <div class="input-box">
                <span class="details">Return Date</span>
                <input type="date" placeholder="Enter your Return Date" required>
              </div>
              
            <div class="gender-details">
              <input type="radio" name="gender" id="dot-1">
              <input type="radio" name="gender" id="dot-2">
              <input type="radio" name="gender" id="dot-3">
              <span class="gender-title">Waste Material</span>
              <div class="category">
                <label for="dot-1">
                <span class="dot one"></span>
                <span class="gender">Plastic,Tins and Metals </span>
              </label>
              <label for="dot-2">
                <span class="dot two"></span>
                <span class="gender">Paper/card Waste</span>
              </label>
              <label for="dot-3">
                <span class="dot three"></span>
                <span class="gender">Ceramics and glass</span>
                </label>
              </div>
            </div>
            <div class="button">
              <input type="submit" value="Return">
            </div>
          </form>
        </div>
      </div>
    
</body>
</html>