<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home Page</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="static/css/style.css" type="text/css">
<style>
  a:hover{
    color: limegreen;
  }
</style>
  <!-- =======================================================
  * Template Name: Yummy - v1.0.0
  * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="static/img/logo.png" alt=""> -->
        <h1>GroMart<span></span></h1>
      </a>

     
      <a href="/cart">Cart</a>
      <a href="/product">Offers</a>
      <a href="/">Logout</a>
      <a class="btn-book-a-table" href="/gohtml">Grostars : </a>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      
      
    </div>
  </header><!-- End Header -->
  
  <!-- ======= Why Us Section ======= -->
  <!--img src="static/img/dscount1.jpg" style=" height: 250px; width: 1350px; "-->
  <section id="why-us" class="why-us section-bg" style="padding-top: 20px;">
    <div class="hero__search" style="margin: auto; width: 50%;" >
      <div class="hero__search__form">
          <form action="/search" method="post" >
              <label for="search">What do you need?</label>
              <input type="text" name="search" id="search">
              <button type="submit" class="site-btn">Search</button>
          </div>
              <centre>
                {% if search %}
                <img src="{{img}}" width="100px;" height="130px" style="padding-top:20px;">
                <h6> {{ search }}</h6>
                <h6>{{ price }}</h6>
                

                {% endif %}
              </centre>
          </form>
      </div>
      </div>
    <section class="heo" >
      <div class="container">
          <div class="row">
              <div class="col-lg-3">
                  <div class="hero__categories" >
                      <div class="hero__categories__all">
                          
                          <span>Categories</span>
                      </div>
                      <ul>
                          <li><a href="product">Fruits</a></li>
                          <li><a href="product">Vegetables</a></li>
                          <li><a href="product">Energy Drinks</a></li>
                          <li><a href="product">Pulses</a></li>
                          <li><a href="product">Grains</a></li>
                          <li><a href="product">Meat</a></li>
                          <li><a href="product">Dairy</a></li>
                          <li><a href="product">Spreads</a></li>
                          <li><a href="product">Chocolates</a></li>
                          <li><a href="product">Food Powders</a></li>
                          <li><a href="product">Cookies</a></li>
                          
                      </ul>
                      
                    </div>

                    
                  </div>
               
                
                
                
                  
                    <div class="col-lg-9">
                      
      <!-- End Why Box -->
        <!-- End Why Us Section -->
  <div class="container" data-aos="fade-up">      
    <div class="col-lg-9 d-flex align-items-center">
      <div class="row gy-4" >

        <div class="col-xl-6" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box d-flex flex-column justify-content-center align-items-center">
            <i class="bi bi-heart"></i>
            <a href="health">Let's have a Healthy Purchase</a>
            <!--p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p-->
          </div>
        </div><!-- End Icon Box -->

        <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
          <div class="icon-box d-flex flex-column justify-content-center align-items-center">
            <i class="bi bi-cash-coin"></i>
            <a href="product">Shop at the best prices</a>
            <!--p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p-->
          </div>
        </div><!-- End Icon Box -->

        <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
          <div class="icon-box d-flex flex-column justify-content-center align-items-center">
            <i class="bi bi-file-person"></i>
            <a href="/recommend">Shop based upon my personal taste</a>
            <!--p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p-->
          </div>
        </div><!-- End Icon Box -->

      </div>
    </div>

  </div>
  </div>
  </div>
  </div>
  </section>
  <div style="padding-top:100px; padding-left: 10px;">
    <div class="row">
      {%for i in range(0, length1) %}
      <div class="col-lg-2 text-center"  >
          <div class="card border-0 bg-light mb-2">
              <div class="card-body">
                  <img src="{{result[i][2]}}" class="img-fluids" alt="">
              </div>
          </div>
          <h7>{{result[i][1]}}</h7>
          <p>Rs.{{result[i][3]}}</p>
          <button type="button" onclick="show('{{result[i][1]}}','{{result[i][2]}}','{{result[i][3]}}');"  class="add_to_cart">Add to Cart</button>
          <i class="bi bi-cart4"></i>
      </div>
      {%endfor%}
      
  {%for i in range(length1, length2) %}
      <div class="col-lg-2 text-center">
          <div class="card border-0 bg-light mb-2">
              <div class="card-body">
                  <img src="{{result[i][2]}}" class="img-fluids" alt="" height="115px" >
              </div>
          </div>
          <h7>{{result[i][1]}}</h7>
          <p>Rs.{{result[i][3]}}</p>
          <button type="button" onclick="show('{{result[i][1]}}','{{result[i][2]}}','{{result[i][3]}}');"  class="add_to_cart">Add to Cart</button>
          <i class="bi bi-cart4"></i>
      </div>
      {%endfor%}
      <script>
        function show(name, image,price){
window.location.href = `/checkout?item=${name}&image=${image}&price=${price}`;
}
</script>
  
      
  
  
    </div>
  </div>
</section>
  
        
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>